<div class="row" >
    <div class="col-md-12" >
        <input type="button" class="btn btn-primary" value="Select Image"  ng-click="Task3Ctrl.loadImg()"  />
        <input style="display:none"  type="file" id="txt-files"  onchange="angular.element(this).scope().displayImages(this)" accept="image/png, image/jpeg, image/gif"  /> 
    </div>
</div>
<div class="row" >
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{Task3Ctrl.data.rotateClass}}"  ng-repeat="img in Task3Ctrl.data.imageList"   >
        <img src="{{img}}"  width="300"  height="300"   ></img> 
    </div>
</div>
<div class="row" >
    <div class="col-md-3" ng-show="Task3Ctrl.data.imageList.length>0"  >
        <input type="button"  class="bt btn-primary" ng-click="Task3Ctrl.rotateImg()" value="Rotate Image" />
    </div>
</div>
