<div class="row" >
    <div class="col-md-12" >
        <input type="button" class="btn btn-primary" value="Select Images"  ng-click="Task2Ctrl.loadImg()"  />
        <input style="display:none"  type="file" id="txt-files"  multiple onchange="angular.element(this).scope().displayImages(this)" accept="image/png, image/jpeg, image/gif"  /> 
    </div>
</div>


<div class="row" >
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="img in Task2Ctrl.data.imageList"   >
        <img src="{{img}}" style="width:100%"  ></img> 
    </div>
</div>